h1 {
  color: deepskyblue;
}

.post-list {
  margin: 10px;
  padding: 10px;
}

.post-list-title,.detail-title,.new-title {
  color: white;
  background-color: deepskyblue;
  background-image: linear-gradient(to right, deepskyblue, white);
  display: block;
  align-items: center;
  justify-content: center;
  padding: 0 0 5px 10px;
}

.card-body {
  border: solid deepskyblue 3px;
  border-radius: 5px;
}

.home-title {
  color: white;
  background-color: deepskyblue;
  background-image: linear-gradient(to right, deepskyblue 50%, white);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0 5px 10px;
}

.home-welcome {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.new-title {
  color: deepskyblue;
  background-color: deepskyblue;
  background-image: linear-gradient(to left, deepskyblue, white);
  display: block;
  align-items: center;
  justify-content: center;
  padding: 0 0 5px 10px;
  border: solid deepskyblue 2px;
}